<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        body{
            background-color: black;
            height: 50%;
        }
        main{
            max-width: 700px;
            background-color: beige;
            margin: auto;
            padding: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        label{
            display: inline-block;
            margin: 10px;
        }
        input{
            margin-left: 35px;
            height: 23px;
            width: 250px;

        }
        input,textarea{
            text-align: justify;
        }
        .input{
            margin-left: 80px;
        }
        .input1{
            margin-left: 45px;
        }
        .input2{
            margin-left: 55px;
        }
        .input3{
            margin-left: -10px;
        }
        textarea{
            margin-left: 35px;
            resize: none;
            height: 80px;
            width: 250px;
        }
        h1{
            text-align: center;
            text-align: center;
            color: rgb(0, 162, 255);
            text-transform: uppercase;
        }
        h2,h3{
          text-align: center;  
        }
        p{
            text-align: justify;
        }
        form{
            text-align: center;
        }
        button,p{
            display: inline-block;
            margin-left:20px;
            
        }
        div{
            text-align: center;
            margin-left: 119px;
        }
        a{
            text-decoration: none;
            text-transform: none;
            color: black;    
        }
        a:hover, button:hover{
            color: rgb(0, 162, 255);
            transition: 1s;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>