<main>
    <h1 style="text-align: center;color: rgb(0, 162, 255);">Login</h1>

    <form action="/login" method="post">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="nome" class="input"><br>
        <label for="sobName">Sobrenome:</label>
        <input type="text" id="sobName" class="input1" name="sobrenome" ><br>
        <label for="password">senha:</label>
        <input type="password" id="password"class="input" name="senha" ><br>
        <div>
        <button type="submit">logar</button>
        <a href="/">
            <p>Cancelar</p>
        </a>
        
    </div>
    </form>
</main>